@mixin clearfix {
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}

.five-item-columns .social-btn {
    float: left;
    width: 20%;
    margin-bottom: 20px;
}

.five-item-columns {
    @include clearfix();
}

h2 {
    text-align: center;
    position: relative;
}


.social-btn {
    text-align: center;
    cursor: pointer;
    & img {
        height: 3.2rem;
        width: auto;
    }
    transition: all 400ms ease;
    &:hover {
      transform: scale(1.2);
      -moz-transform:  scale(1.2);
      -ms-transform: scale(1.2);
    }
}
