<div class="home-container">
  <h2>Find me online</h2>
  <div class="five-item-columns">
    <!-- <a href="#" role="button" class="social-btn dropbox">
                <img src="/assets/dropbox.svg" alt="dropbox" />
              </a> -->
    <a href="https://www.facebook.com/emmanuel.quagraine" role="button" class="social-btn facebook">
                  <img src="/assets/facebook.svg" alt="facebook" />
              </a>
    <a href="https://plus.google.com/+EmmanuelQuagraine" role="button" class="social-btn google">
                  <img src="/assets/google.svg" alt="google" />
              </a>
    <a href="https://github.com/novaonline" role="button" class="social-btn github">
                  <img src="/assets/github_alt.svg" alt="github" />
              </a>
    <!-- <a href="skype:manny.q." role="button" class="social-btn skype">
                  <img src="/assets/skype.svg" alt="skype" />
              </a> -->
    <a href="https://soundcloud.com/novaonline" role="button" class="social-btn soundcloud">
                  <img src="/assets/soundcloud.svg" alt="soundcloud" />
              </a>
    <a href="https://steamcommunity.com/id/novaonlin3" role="button" class="social-btn steam">
                  <img src="/assets/steam.svg" alt="steam" />
              </a>
    <!-- <a href="#" role="button" class="social-btn spotify">
                  <img src="/assets/spotify.svg" alt="spotify" />
              </a> -->
    <a href="https://twitter.com/novaonlin3" role="button" class="social-btn twitter">
                  <img src="/assets/twitter.svg" alt="twitter" />
              </a>
    <a href="https://www.youtube.com/user/Modernremix" role="button" class="social-btn youtube">
                  <img src="/assets/youtube.svg" alt="youtube" />
              </a>
    <a href="https://www.meetup.com/members/235906901/" role="button" class="social-btn meetup">
                  <img src="/assets/meetup.svg" alt="meetup" />
              </a>
    <a href="https://linkedin.com/in/equagrainejr/" role="button" class="social-btn linkedin">
                  <img src="/assets/linkedin.svg" alt="linkedin" />
              </a>
    <!-- <a href="#" role="button" class="social-btn discord">
                <img src="/assets/discord.svg" alt="discord" />
            </a> -->
    <a href="https://codepen.io/novaonline/" role="button" class="social-btn codepen">
                <img src="assets/codepen.svg" alt="codepen" />
              </a>
    <a href="https://www.codewars.com/users/novaonline" role="button" class="social-btn codewars">
                <img src="assets/codewars.svg" alt="codewars" />
              </a>
    <!-- <a href="#" role="button" class="social-btn vs">
                <img src="assets/vs.svg" alt="visual studio" />
            </a> -->
  </div>
</div>
