<div [ngClass]="['profile','logo',convertStateToClassClass(currentState)]">
  <svg routerLink="" title="back to home" viewBox="0 0 300 300" width="100%" height="100%">
    <defs>
      <pattern id="profileImg" patternUnits="userSpaceOnUse" width="250" height="250" x="25" y="25">
        <image xlink:href="http://homepage.usask.ca/~eeq488/images/me_outside_cropped.jpg" x="0" y="0" width="250" height="250" />
      </pattern>
      <path id="circlePathTop" d="M 20 150 A 50 50 0 1 1 280 150" />
      <path id="circlePathBottom" d="M 10 150 A 50 50 0 1 0 290 150 " />
    </defs>
    <g id="profileText">
      <text fill="#fff" letter-spacing="5">
        <textPath path="" startOffset="70px" xlink:href="#circlePathTop">{{ getTopTextByCurrentState(currentState) }}</textPath>
      </text>
      <text fill="#fff" letter-spacing="5">
        <textPath startOffset="90px" xlink:href="#circlePathBottom">{{getBottomTextByCurrentState(currentState)}}</textPath>
      </text>
    </g>
    <circle id='backCircle' cx="150" cy="150" r="125" fill="white" />
    <circle id='imageCircle' cx="150" cy="150" r="120" fill="url(#profileImg)" />
  </svg>
</div>
