<div class="container">
  <div class="profile badge">
    <img src="http://homepage.usask.ca/~eeq488/images/me_outside_cropped.jpg" alt="me out side">
    <div class="rounded-text top">
      <span class="char1">M</span>
      <span class="char2">Y</span>
      <span class="char3">&nbsp;</span>
      <span class="char4">N</span>
      <span class="char5">A</span>
      <span class="char6">M</span>
      <span class="char7">E</span>
      <span class="char8">&nbsp;</span>
      <span class="char9">I</span>
      <span class="char10">S</span>
    </div>
    <h1 class="rounded-text bottom">
      <span class="char1">E</span>
      <span class="char2">M</span>
      <span class="char3">M</span>
      <span class="char4">A</span>
      <span class="char5">N</span>
      <span class="char6">U</span>
      <span class="char7">E</span>
      <span class="char8">L</span>
      <span class="char9">&nbsp;</span>
      <span class="char10">Q</span>
      <span class="char11">U</span>
      <span class="char12">A</span>
      <span class="char13">G</span>
      <span class="char14">R</span>
      <span class="char15">A</span>
      <span class="char16">I</span>
      <span class="char17">N</span>
      <span class="char18">E</span>
    </h1>
  </div>
  <div class="main">
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
