.container {
    background: rgba(0, 0, 0, .80);
    height: 100%;
    color: white;
}

.profile.badge {
  width: 300px;
  margin: 0 auto;
  padding-top: 5rem;
}

// Text Area
// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

.text-center {
    text-align: center;
}

