/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body {
    background-image: url(/assets/victoria-bridge.jpg);
    backdrop-filter: brightness(0.1);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
#main {
    display: flex;
    min-height: calc(100vh - 40vh);
    height: 80vh;
}
#main > article {
    flex: 1;
}
#main > nav,
#main > aside {
    flex: 0 0 5vw;
}
#main > nav {
    order: -1;
}
header,
footer,
article,
nav,
aside {
    padding: 1em;
}
header,
footer {
    //background: yellowgreen;
    height: 10vh;
    overflow: hidden;
}

body {
    color: #222;
    background-color: #fff;
}

/* DARK MODE:
https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#combining
https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/tutorial/create_a_website_layout_with_flexbox_example_1
https://www.quackit.com/css/flexbox/examples/flexbox_website_layout_examples.cfm
*/ 
body.dark-theme {
    font-weight: 350;
    color: #eee;
    img {
        filter: brightness(0.8) contrast(1.2);
    }
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  a { color: inherit; } 

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
    background-color:rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.6);;
}

::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255, 0.3);;
}
